body{
    background-image: url('Fondop_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1410px;
    
}

.Body{
    background-image: url('Fonop-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    margin: auto;
    

}

.Tope{
    background-image: url('Fondop_top.jpg');
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    height: 300%;
    margin: auto;
}
.Fin{
    background-image: url('Fondop_top.jpg');
    border: .5px solid black;
    padding: 12px;
    width: 60%;
    height: 300%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}


fieldset{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    border-radius: 50%;
    float: right;
    width: 125px;
    height: 125px;
    margin-right: 25%;
    margin-top: 2.5%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
}




