*{
    background-image: url('money.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input.dinero{
    background: none;
    width: 20%;
}
body{
    color: white;
}
h1{
    font-family: sans-serif;
    
}