@keyframes animacion_test{
    from{
        background-color: rgb(255, 225, 127);
    }
    to{
        background-color: darkmagenta;
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label-animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(65, 112, 200);
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid #528852;
    border-top: 16px solid rgb(147, 211, 153);
    border-radius: 50%;
    animation: girar 2s linear infinite;    
}

.loader-doble{
    width: 64px;
    height: 64px;
    border: 16px solid #d8691f;
    border-top: 16px solid rgb(235, 172, 70);
    border-bottom: 16px solid rgb(65, 112, 200);
    border-radius: 50%;
    animation: girar 1.5s linear infinite;
    
}

.animada{
    width: 100%;
    background-color: rgb(140, 127, 255);
    color: bisque;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: animacion_test 1.5s alternate infinite;
}

